<div id="header">
	<div id="header_title">
		<span id="header_title_1">monique lee</span>
		<span id="header_title_2">piano</span>
	</div>
	<div id="header_links">
		<ul>
			<li class="inactive"><a href="http://monique-lee-piano.com">home</a></li><li class="inactive"><a href="http://monique-lee-piano.com/about">about me</a></li><li class="inactive"><a href="http://monique-lee-piano.com/recordings">recordings</a></li><li class="active"><a href="http://monique-lee-piano.com/blog">blog</a></li><li class="inactive"><a href="http://monique-lee-piano.com/contact">contact</a></li>
		</ul>
	</div>
</div>